body {
  background: #352f5b;
  color: white;
}

.container {
  max-width: 500px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.todo-list li {
  background: #423a6f;
  color: #fff;
}

.delete {
  cursor: pointer;
}

.delete:hover {
  opacity: 0.7;
}

.check {
  margin-left: 10px;
  cursor: pointer;
}

.check:hover {
  opacity: 0.7;
}
